body {
  background-color: #333;
  margin:0;
}

#majiang {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #000;
  position:relative;
}

.jin{
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    display:none;
}

.jin01{
    background:url(../assets/share2.png) no-repeat;
    width:188px;
    height:165px;
    position:absolute;
    right:10px;
    top:10px;
    z-index:2;
}

#chengji {
  color:#05070e;
  font-size:32px;
  font-family:'arial';
  position:absolute;
}